{% extends "layout.twig" %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="flex {{ mainBgOne}} w-full h-screen text-pink-200">

        <div class="flex flex-col p-12 gap-12 m-auto text-center">
            <h1 class="hidden-animation transition-all duration-1000 text-[18rem]">Welkom!</h1>
            <h2 class="hidden-animation transition-all duration-1000 delay-150 text-4xl">Portfolio website: Sep de Graaff</h2>
        </div>

    </div>

    <div id="navigation" class="flex {{ mainBgtwo }} w-full h-screen justify-center text-red-300">

        <div class="flex flex-col gap-12 items-center w-full">

            <div class="flex flex-row gap-12 absolute self-end justify-self-end p-16">

                <p class="hidden-animation transition-all duration-1000 text-xl">Gebruik het menu om te navigeren &rarr;</p>

                <div id="menuOpen" class="menu flex min-w-[125px] text-center justify-center cursor-pointer rounded-2xl bg-red-300 border-solid border-2 border-black/50 text-black transition-all duration-1000 delay-300">
                    <span>Menu</span>
                </div>

                <div id="menu" class="hidden flex-col min-w-[125px] transition-all duration-1000 delay-300">
                    <a class="menuLink hover:scale-125 hover:underline transition-all duration-1000" href="#Over-mij">Over mij</a>
                    <a class="menuLink hover:scale-125 hover:underline transition-all duration-1000" href="#Trotse-projecten">Trotse projecten</a>
                </div>

            </div>

            <h2 class="hidden-animation transition-all duration-1000 m-auto text-[10rem]">Zullen we beginnen?</h2>

        </div>

    </div>

    <div id="Over-mij" class="flex flex-col {{ mainBgOne }} w-full h-screen text-pink-200">

        <div class="flex absolute right-0 p-12">
            <a class="text-2xl" href="#navigation">&uarr;</a>
        </div>

        <div class="flex flex-col p-12 gap-12">

            <h2 class="hidden-animation transition-all duration-1000 text-[10rem] max-w-max">
                Over mij
            </h2>
            <p class="hidden-animation transition-all duration-1000 delay-150 text-xl max-w-[1200px] pl-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at est iste, modi molestias nihil numquam odit veniam. Beatae corporis impedit ipsum iure praesentium quaerat quam ratione reiciendis ullam vitae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio minima, quaerat? Cum, harum, suscipit. Beatae consequatur dolores facere laudantium quam! Inventore repellendus repudiandae sed! Facere nisi obcaecati porro rem voluptatem.
            </p>

        </div>

    </div>

    <div id="Trotse-projecten" class="flex {{ mainBgtwo }} w-full h-screen text-red-300">

        <div class="flex absolute right-0 p-12">
            <a class="text-2xl" href="#navigation">&uarr;</a>
        </div>

        <div class="flex flex-col p-12 gap-12">
            <h2 class="hidden-animation transition-all duration-1000 text-[10rem]">
                Trotse projecten
            </h2>

            <ul class="grid grid-cols-2 place-items-center gap-4">
                {% for i in range(low=150, high=600, step=150) %}
                <li style="transition-delay: {{ i }}ms;" class="flex hidden-animation transition-all duration-1000  min-w-max project-holder">

                    <div class="flex flex-col opacity-0 w-0 transition-all duration-500 absolute h-full rounded-2xl project">
                        <a class="border-b-2 border-b-transparent hover:border-b-pink-200 transition-all m-auto text-3xl text-pink-200" href="/">Lees meer</a>
                    </div>

                    <img class="w-[30rem] rounded-2xl" src="images/projects/Todo4Uv2/main-list-showcase.png" alt="project1">
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}